<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS" />

    <application
        android:name=".BongApp"
        android:label="Bông"
        android:icon="@drawable/avatar_happy"
        android:usesCleartextTraffic="true"
        android:theme="@style/Theme.BongApp">

        <activity
            android:name=".ui.OnboardingActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".ui.MainActivity" android:exported="false" />

        <service
            android:name=".push.PetMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <receiver android:name=".notif.ReplyReceiver" android:exported="false" />
        <receiver android:name=".notif.NotificationEventReceiver" android:exported="false" />
    </application>
</manifest>
